registry=https://registry.npmjs.org/

# Wacom NPM Registry Configuration
@wacom:registry=https://npm.wacom.com/node-modules/
//npm.wacom.com/node-modules/:_authToken=ZkSNvvx9eUkAz9Fk
always-auth=true
