body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

button {
  padding: 10px 20px;
  background-color:hsl(145, 94%, 27%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #167c23;
}

input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}